{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {% include 'menuforclarity.html' %}
    Данный сервис предоставляет возможность получать данные по рекламной кампании из кабинета Яндекс Директ и
    автоматически сортировать и группировать их для анализа. Вам доступны следующие отчеты:
 <ul>
     <li>Позитивная конверсия: отчет, содержащий ключевые фразы, которые принесли конверсии, с низкой стоимостью
         клика (от 50 руб/клик и ниже).</li>
     <li>Отрицательная конверсия: отчет, содержащий ключевые фразы, которые не принесли конверсии, с высокой
         стоимостью клика (от 100 руб/клик и выше).</li>
     <li>Отрицательная конверсия (повторные показы): отчет, содержащий ключевые фразы, которые не принесли
         конверсии, но были показаны более одного раза.</li>
 </ul>
    <p>Для выгрузки отчета, выберите нужный вам отчет и формат экспорта (Excel или CSV). После этого, нажмите кнопку
        "Выгрузить отчет" и сохраните файл на своем компьютере.</p>


    <button type="button" class="btn btn-outline-secondary ms-5"><a href="http://127.0.0.1:8000/">Вернуться обратно</a></button>

</body>
</html>
